$dark-page-bg: #090f1f;
$white-page-bg: #ffffff;

$dark-border-color: #485465;
$white-border-color: #cdd5e0;

$dark-card-color: #111628;
$white-card-color: #f8f9fc;

$dark-text: #000000;
$white-text: #ffffff;
$dimmed-text: #96a2b6;

$link-color: #534edf;

$dark-progress-bg: #212a3b;
$white-progress-bg: #e1e8ef;

$accent: #6368f2;

$dark-dropdown-bg: #1e2836;
$dark-dropdown-border: #485465;
$dark-dropdown-text: #f5f5f5;

$rounded-xl: 0.75rem;

.bg-white, .bg-light {
	background-color: transparent !important;
}

body {
	background-color: $white-page-bg !important;
	color: $dark-text !important;
}

body.moove-darkmode {
	background-color: $dark-page-bg !important;
	color: $white-text !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.path-calendar .maincalendar .calendar-controls .current,
.course-content .single-section .sectionname,
.course-content .single-section .sectionname a,
.course-content .section .sectionname,
.course-content .section .sectionname a {
	color: $dark-text !important;

	body.moove-darkmode & {
		color: $white-text !important;
	}
}

a:not(.btn) {
	color: $dark-text !important;

	&:focus {
		background-color: transparent !important;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
	}

	body.moove-darkmode & {
		color: $white-text !important;
	}
}

.courseindex .courseindex-item.pageitem,
.btn-primary,
.btn-link,
.dashboard-card .dashboard-card-img .course-category {
	background-color: $accent !important;

	* {
		color: $white-text !important;
	}
}

#page {
	background-color: $white-page-bg !important;
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
	}
}

.navbar,
.secondary-navigation {
	background-color: $white-page-bg !important;
	border-bottom: 1px solid $white-border-color !important;
	box-shadow: none !important;
	filter: none !important;
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
		border-bottom: 1px solid $dark-border-color !important;
	}
}

.navbar .primary-navigation .navigation .nav-link {
	color: $dark-text !important;

	body.moove-darkmode & {
		color: $white-text !important;
	}

	&.active {
		border-bottom: none !important;
	}

	&:hover {
		body.moove-darkmode & {
			background-color: $dark-card-color !important;
		}
	}

	body.moove-darkmode & {
		.nav-link.active {
			background-color: $dark-page-bg;
		}
	}
}

.nav-tabs .nav-link.active {
	border-color: $white-border-color !important;
	background-color: $white-page-bg !important;
	body.moove-darkmode & {
		border-color: $dark-border-color !important;
		background-color: $dark-page-bg !important;
	}
}

#region-main {
	background-color: transparent !important;
	body.moove-darkmode & {
		background-color: transparent !important;
	}
}

div[role='main'] {
	background-color: $white-card-color !important;
	border-radius: $rounded-xl;
	body.moove-darkmode & {
		background-color: $dark-card-color !important;
	}
}

.drawer {
	background-color: $white-page-bg !important;
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
	}
}

.icon,
.fa {
	color: $dark-text !important;

	.btn & {
		color: $white-text !important;
	}

	body.moove-darkmode & {
		color: $white-text !important;
	}
}

.card {
	background-color: $white-card-color !important;
	border: 1px solid $white-border-color;
	body.moove-darkmode & {
		background-color: $dark-card-color !important;
		border: 1px solid $dark-border-color;
	}
}

.activity {
	border-top: none !important;
}

.activity-item {
	background-color: transparent !important;
}

.pagelayout-frontpage .dashboard-card .course-contacts .contact p.role,
.pagelayout-coursecategory .dashboard-card .course-contacts .contact p.role {
	color: $dimmed-text;
}

body.moove-darkmode .dashboard-card-deck .dashboard-card .dashboard-card-footer,
body.moove-darkmode #region-main .section.main,
body.moove-darkmode .course-content .single-section .sectionname,
body.moove-darkmode .course-content .section .sectionname {
	background-color: transparent !important;
}

#page-footer {
	background-color: $white-page-bg !important;
	border-top: 1px solid $white-border-color;
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
		border-top: 1px solid $dark-border-color;
	}
}

.form-control {
	background-color: transparent !important;
}

.main-inner {
	background-color: transparent !important;
}

.maincalendar .calendarmonth .clickable:hover {
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
	}
}

body.moove-darkmode {
	.dropdown-menu {
		.dropdown-toggle {
			color: $dark-dropdown-text !important;
		}

		background-color: $dark-card-color !important;
		border: 1px solid $dark-border-color !important;
		color: $dark-dropdown-text;

		.dropdown-item {
			color: $dark-dropdown-text !important;
			&:hover {
				background-color: $accent !important;
			}
		}

		.dropdown-divider {
			border-color: $dark-dropdown-border !important;
		}
	}
}

.dropdown-item:hover {
	background-color: $accent !important;
	color: $white-text !important;
}

.progress {
	background-color: $white-progress-bg !important;
	body.moove-darkmode & {
		background-color: $dark-progress-bg !important;
	}
}

.progress-bar {
	background-color: $accent !important;
}

.secondary-navigation .navigation .nav-link {
	color: $dark-text !important;
	body.moove-darkmode & {
		color: $white-text !important;
	}

	&.active {
		background-color: $white-card-color !important;

		body.moove-darkmode & {
			background-color: $dark-card-color !important;
		}

		border-bottom: none !important;
	}

	&:hover {
		background-color: $white-card-color !important;
		body.moove-darkmode & {
			background-color: $dark-card-color !important;
		}
	}
}

.section-item {
	border: 1px solid $white-border-color !important;
	body.moove-darkmode & {
		border: 1px solid $dark-border-color !important;
	}
}

#yui_3_18_1_1_1732695635294_20 {
	background-color: transparent !important;
	color: $dark-text !important;

	body.moove-darkmode & {
		color: $white-text !important;
	}
}

.select,
.custom-select {
	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
		border-color: $dark-border-color !important;
		color: $white-text !important;

		option:hover,
		option:active {
			background-color: $accent !important;
		}
	}
}

.maincalendar .calendarmonth td.today .day-number-circle {
	background-color: $accent !important;
}

.calendar_event_course,
.modal-content {
	background-color: $white-page-bg !important;

	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
	}
}

.generaltable {
	color: $dark-text !important;
	background-color: transparent !important;
	body.moove-darkmode & {
		color: $white-text !important;
	}
}

tr:nth-of-type(even) {
	background-color: transparent !important;
}

.generaltable tbody tr:hover {
	&:hover {
		color: inherit !important;
	}
}

table.quizreviewsummary th.cell,
table.quizreviewsummary td.cell {
	background-color: transparent !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
	border-color: $white-border-color !important;
	border-radius: $rounded-xl !important;

	background-color: $white-page-bg !important;

	body.moove-darkmode & {
		background-color: $dark-page-bg !important;
		border-color: $dark-border-color !important;
	}
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.mform fieldset {
	border-color: $white-border-color !important;
	body.moove-darkmode & {
		border-color: $dark-border-color !important;
	}
}

.que .info,
#quiz-timer-wrapper #quiz-timer {
	background-color: transparent !important;
}

.que .formulation {
	background-color: transparent !important;
	color: $dark-text !important;
	body.moove-darkmode & {
		color: $white-text !important;
	}
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
	background-color: transparent !important;
}

a {
	color: $dark-text !important;
	body.moove-darkmode & {
		color: $white-text !important;
	}
}

.path-grade-report-user *,
.user-report-container * {
	background-color: transparent !important;
}

.activity-header:not(:empty),
.alert-info {
	background-color: $white-card-color !important;
	color: $dark-text !important;
	border: 1px solid $white-border-color !important;

	body.moove-darkmode & {
		background-color: $dark-card-color !important;
		color: $white-text !important;
		border: 1px solid $dark-border-color !important;
	}
}

.no-overflow > div {
  padding: 0 !important;
  background-color: transparent !important;
}

.btn.btn-icon:hover, .btn.btn-icon:focus {
	background-color: $accent !important;
}

.drawer-toggles .drawer-toggler .btn {
	background-color: $accent !important;
}

.custom-control-input:checked~.custom-control-label::before {
	background-color: $accent !important;
}

.list-group-item {
	background-color: $white-card-color !important;
	body.moove-darkmode & {
		background-color: $dark-card-color !important;
	}
}

.block .block-cards span.categoryname{
	color: inherit !important;	
}